---
// Redirect to the standalone sprites-gallery site
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=https://wangrui2025.github.io/sprites-gallery/" />
    <title>Sprites Gallery - Redirecting</title>
    <link rel="canonical" href="https://wangrui2025.github.io/sprites-gallery/" />
  </head>
  <body>
    <p>Redirecting to <a href="https://wangrui2025.github.io/sprites-gallery/">Sprites Gallery</a>...</p>
  </body>
</html>
