---
export interface Props {
  text: string;
  period: string;
  secondary?: boolean;
}

const { text, period, secondary = false } = Astro.props;
---

<div class={`cv-grid-item${secondary ? ' secondary' : ''}`}>
  <span>{text}</span>
  <span class="right">{period}</span>
</div>
